<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/managerment.css">
    <title>Super Admin</title>
</head>
<body>
<h1>Management</h1>
    <form>
    <div class="container">
    <div class="d-flex">
    <div class="category-left">
        <div class="btn-category">Category</div>
        <div class="btn-food">Food</div>
        <div class="btn-drink">Drink</div>
        <div class="btn-user">User</div>
        <div class="btn-table">Table</div>
    </div>
    <div class="category-right">category-left</div>
    </div>
    </div>
    </form>
    
</body>
</html>